*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    color: black;
}
.form_container{
    color: white;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    font-size: 20px;
    top: 10%;
    left: 35%; 
    line-height: 50px;
    border-radius: 10px;
    background: transparent;
    text-align: left;
    Vertical-align: middle;
    border: 3px solid gray;
    box-shadow: 5px 4px 6px black;
}

input{
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border-radius: 8px;

}
input:focus{
    outline: none;
    color: white;
    background-color: rgb(69, 131, 181, 0.35);
}

#myVideo{
    position: fixed;
    width: auto;
    height: auto;
}

button{
    display: block;
    margin: 10px;
    width:80px;
    height: 30px;
    padding: 5px;
    float: right;
    vertical-align: middle;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    background-color: slateblue;
    border: transparent 2px solid black;
    box-shadow: 5px 4px 6px black;
    padding: 5px 10px;
    transition: 0.1s ease-in;
}

button:hover{
    background-color: rgb(179, 214, 222);
    border: 2px solid red;
    color: red;
    transition: 0.3s ease-out;
    cursor: pointer ;
}